body,html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Staatliches', cursive;
    font-family: 'Titillium Web', sans-serif;
    background: url("SubieDaBooby.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #fff;
    display: block;
    font-size: 50px;
}

h1:hover {
    font-size: 55px;
    transition: .3s;
}


.btn-warning:hover{
    color: #ffffff;
    background-color: #ff0000;
    border-color: #000000;
    font-size: 20px;
    padding: 10px;
    transition: .5s;
}

